- name: SW-JRTECHNO-01 Port Configuration
  hosts: '{{ host }}'
  gather_facts: no
  tasks:
  - name: Port Configuration
    connection: localhost
    meraki_switchport:
      name: '{{ interface_name }}'
      state: present
      number: '{{ number }}'
      enabled: '{{ enabled }}'
      type: '{{ type }}'
      vlan: '{{ vlan }}'
      allowed_vlans: '{{ allowed_vlans }}'
      isolation_enabled: '{{ isolation_enabled }}'
      rstp_enabled: '{{ rstp_enabled }}'
      stp_guard: '{{ stp_guard }}'
      link_negotiation: '{{ link_negotiation }}'
      auth_key: '{{ auth_key }}'
      serial: '{{ serial_number }}'
    delegate_to: localhost
    register: port_config
    environment:
      ANSIBLE_MERAKI_FORMAT: snakecase

  - debug:
      msg: '{{port_config}}'
